@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #222328
}
body{
    width: 1000px;
}
body::after{
    content: '';
    clear: both;
    display: block;
}
a{
    text-decoration: none;
    display: block;
}
.header{
    height: 650px;
    width: 300px;
    background-color: aqua;
    position: relative;
}
.logo{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.contants{
    height: 550px;
    width: 700px;
    background-color: beige;
}
.menu{
    width: 100%;
    height: 300px;
    position: relative;
}
.main-menu{
    width: 100%;
    height: 100%;
}
.main-menu>div{
    height: 50px;
    width: 100%;
    border: 1px solid black;
}
.sub-menu{
    width: 0px;
    height: 400px;
    position: absolute;
    left: 300px;
    top: -10px;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
}
.sub-menu-in>div{
    height: 50px;
    width: 100%;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
}
footer{
    width: 700px;
    height: 100px;
}
.fl{
    float: left
}
.display-none{
    display: none
}