@charset 'utf-8';
/* 어비 마이센치 */
  @font-face { font-family: 'UhBeemysen'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
   font-weight: normal; font-style: normal; }
   
  
   /* 어비 푸딩체 */
  @font-face { font-family: 'UhBeepuding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff') format('woff');
   font-weight: normal; font-style: normal; }
  
  
  /* 어비 나현체 */
  @font-face { font-family: 'UhbeeNaHyun'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhbeeNaHyun.woff') format('woff');
   font-weight: normal; font-style: normal; }
  

   html{cursor: url(/개인페이지/이미지/커서.png), default;}
*{
	padding: 0;
	margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'UhBeepuding';
}
.body-tag{
    margin: 0 auto;
    width: 1600px;
    position: relative;
    top: 0;
    left: 0;
  }
body::-webkit-scrollbar {
    display:none;
    }
/* 헤더관련 */
.head-a{
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}
.head-a>div:first-of-type{
  width: 100%;
  height: 150px;
  background-color: white;
  display: block;
  margin: 0 auto;
  z-index: 30;
}
.head-a-box{
  width: 300px;
  height: 150px;
  margin: 0 auto;
}
.head-a img{
  width: 200px;
  display: block;
  margin: 10px auto;
}
.main-menu a{
  text-decoration: none;
  color: black;
  font-family: 'UhBeepuding';
  font-size: 20px;
  font-weight: 500;
  margin: 0 5px;
  padding: 0 5px;
}
.main-menu-maggin{
  margin-left: 25px;
}
.main-menu-select{
  border-bottom: 2px solid #fd7579;
  width: 0px;
}
.main-menu a:hover{
  color: #58585b;
}
.head-line{
  height: 1px ;
  width: 1500px;
  background-color: #bcbcbc;
  margin: 0 auto;
}
.all-menu{
  z-index: 10;
  width: 100%;
  height: 100vh;
  position: relative;
}
.all-menu-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}
.all-menu-box{
  position: absolute;
  top: 0;
  left: calc(50% - 400px);
  width: 800px;
  z-index: 10;
  color: white;
}
.all-menu .fa-times{
  font-size: 30px;
  margin-top: 15vh;
}
/* 바디관련 */
.body{
  width: 1600px;
  margin: 0 auto;
  margin-top: 150px;
}
.container-fluid{
  position: absolute;
  top: 0;
  left: 0;
}
/* 메인네비 */
ul.nav-pills {
  top: 50%;
  position: fixed;
}
.nav-pills{
  z-index: 30;
}
.nav-link{
  z-index: 30;
  opacity: 0.4;
  background-color: #bcbcbc;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  margin: 5px;
  padding: 0;
}
.nav-item .active{
  opacity: 1.0;
  background-color: #fd7579;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #fd7579;
  cursor: url(/개인페이지/이미지/커서클릭.png);
}
/* 메인바디 */
.main-body>div{
  width: 1600px;
  height: 850px;
}
.main-body>div:first-of-type{
  height: 1000px;
}
.main-body>div:first-of-type{
  padding-top: 150px;
}

.main-about{
  width: 100%;
  height: 500px;
  background-color: tomato;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}
.main-about-bg{
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
/* 전체 */
.fl{
  float: left;
}
.fr{
  float: right;
}
.display-none{
  display:none;
}